<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>미디어 쿼리(Media Queries)</title>
  <link rel="stylesheet" href="../common/reset.css" />
  <link rel="stylesheet" href="./grid_layout.css" />
</head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="logo"><a class="logo" href="#">Logo</a></h1>
        
        <nav class="navigation">
          <ul class="menu">
            <li><a link href="/">Menu 1</a></li>
            <li><a link href="/">Menu 2</a></li>
            <li><a link href="/">Menu 3</a></li>
            <li><a link href="/">Menu 4</a></li>
          </ul>
        </nav>
      </header>
      <main class="content">
        <section class="main col">
          Main 콘텐츠
        </section>
        <article class="secondary col">
          Secondary 콘텐츠
        </article>
        <div class="extra col">
          Extra 콘텐츠
        </div>
      </main>
      <footer class="footer">
        Footer
      </footer>
    </div>
  </body>

</html>